body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.background-image {
    background: url(lib/photos/Pretty_Lights.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: block;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

body {
    margin: 0px;
}

body,
a:link,
a:visited,
a:active {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #2196f3;
    border-bottom: 3px solid #2196f3;
}

.BlinkyDancer: hover{
    border: 5px solid white;
}

.title,
.addDancerButton,
.lineup,
.reset,
.couple {
    padding: 5px 12px;
    float: right;
}

.topbar {
    height: 32px;
    background-color: #000;
}

.title {
    background-color: #000;
}

.dancer {
    border: 10px solid red;
    border-radius: 10px;
    position: absolute;
}

.BlinkyDancer {
    /*  border:10px solid blue;
  border-radius:10px;*/
    position: absolute;
    animation: pulseOC 3s ease infinite alternate;
}

.PopDancer {
    /*border:10px solid pink;
  border-radius:10px;*/
    position: absolute;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
        color: #f44336;
        border-radius: 100%;
    }
    50% {
        color: #2196f3;
    }
    100% {
        transform: scale(1.5);
        color: #cddc39;
    }
}

.FightingDancer {
    /*  border:10px solid yellow;
  border-radius:10px;
*/
    position: absolute;
    animation: pulseRP 3s ease infinite alternate;
} 
.hover {
    border: 5px solid white;
}
@keyframes pulseRP {
    0% {
        color: #18ffff;
    }
    100% {
        color: #f44336;
    }
    50% {
        color: #9c27b0;
    }
}

@keyframes pulseOC {
    0% {
        color: #ffff00;
    }
    100% {
        color: #ff3d00;
    }
    50% {
        color: #ff4081;
    }
}

